<html lang="en">
<meta charset="UTF-8">
<title>BRANDS</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<style>
</style>
<script src=""></script>

<body>
  <div>
      <div class="nav-bar">
        <a href= / >Home</a>
        <a href=/users >Users</a>
        <a class="current" href= /brands >Brands</a>
        <a href= /products >Products</a>
        <a href= /reviews >Reviews</a>           
        <a href= /pairings>Pairings</a>
        <a href= /suggestions>Suggestions</a>
      </div><br>
  </div><br><br>

  <h1 style='text-align: center;'>Brands</h1>

  <table class="table">
    <thead>
        <tr>
            <th scope="col"> Brand Name</th>
            <th scope="col"> Country of Origin</th>
            <th scope="col"> Website</th>
        </tr>
    </thead>
    <tbody>
        {{#each brands}} 
        <tr scope="row"> 
            <td>{{brand_name}}</td> 
            <td>{{country_of_origin}}</td> 
            <td>{{# if website}}{{website}}{{else}}None{{/if}}</td> 
            <td>
                <button onclick= deleteBrand({{brand_ID}})>Delete</button>
            </td>
        </tr> 
        {{/each}}
    </tbody>
  </table> <br><br>

<h2>Add Brand:</h2>
  <form class= 'entry-form' id="add_brand" action="/brands" method="post">
    Name: <input name="brand_name" type="text" maxlength="30"><br><br>
    Country of Origin: <input name="country_of_origin" type="text" maxlength="2"><br><br>
    Website: <input name="website" type="text" maxlength="50"><br><br>
    <input type="submit" value="Add Brand">
</form><br>

</body>
</html>