<html lang="en">
<meta charset="UTF-8">
<title>BRANDS</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/style.css">
<style>
</style>
<script src=""></script>

<body>
  <div>
      <div class="nav-bar">
        <a href= / >Home</a>
        <a href=/users >Users</a>
        <a href= /brands >Brands</a>
        <a href= /products >Products</a>
        <a href= /reviews >Reviews</a>           
        <a class="current" href= /pairings>Pairings</a>
        <a href= /suggestions>Suggestions</a>
      </div><br>
    </div><br><br>

  <h1 style='text-align: center;'>Pairings</h1>

<table class='table'>
    <thead>
        <tr>
            <th scope="col"> Pairing</th>
            <th scope='col'> Brand</th>
        </tr>
    </thead> 
    <tbody>
        {{#each pairings}} 
        <tr scope="row"> 
            <td>{{pairing_name}}</td>
            <td>{{#if brand_ID}}{{brand_name}}{{else}}None{{/if}}</td> 
            <td>
                <button onclick= deletePairing({{pairing_ID}})>Delete</button>
            </td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 


<h2>Add Pairing:</h2>
<form class='entry-form' id="add_pairing" action="/pairings" method="post">
    Name: <input name="pairing_name" type="text" maxlength="50"><br><br>
    Brand: <select name="brand_ID">
        <option value="NULL">NULL</option>
        {{#each brands}}
        <option value="{{brand_ID}}">{{brand_name}}</option>
        {{/each}}
        <option>NULL</option>
    </select><br><br>
    <input type="submit" value="Add Pairing">
</form><br>

</html>
